body {
    background-color:#f5f5ef;
}

main {
    background-color: #f5f5ef;
    width: 100%;
    height: 400vh;
    position: absolute;
    top: 0px;
    left: 0px;
}

nav {
    background-color: #F5F5EF;
    width: 100%;
    height: 10%;
    position: fixed;
    z-index: 12;
    top: 0px;
    left: 0px;
    border-bottom: rgb(147, 147, 147) 1px solid;
}

#nav-logo {
    font-size: 3.7vh;
    letter-spacing: 0px;
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: extrabold;
    position: absolute;
    top: -5px;
    left: 3vw;
}

#nav-buttons {
    width: auto;
    height: auto;
    position: absolute;
    right: 3vw;
    top: 50%;
    transform: translateY(-50%);
}

.nav-buts {
    position: relative;
    font-size: 2vh;
    border: none;
    background-color: transparent;
    margin-left: 0.5vw;
    cursor: pointer;
    transition: all 0.3s linear;
    font-family: "Cutive", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal
}

.nav-buts:hover {
    color: grey;
}

#section-1 {
    background-color:#f5f5ef;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

#sec-1-h1 {
    font-size: 14vh;
    letter-spacing: -5px;
    margin-top: 20vh;
    text-align: center;
    font-family: "Cutive", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal
}

#img-container-sec-1-sub {
    position: absolute;
    left: 0px;
    top: 40%;
    width: 100%;
    height: 70%;
}

#img-container-main {
    width: 80%;
    height: 100%;
    border-radius: 12px;
    margin: 0 auto;
    background-image: url(./1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#section-2 {
    height: 110vh;
    width: 100%;
    position: absolute;
    top: 55vh;
    left: 0px;
}

.box{
    filter: grayscale(100%);
    cursor: pointer;
    transition: all linear 0.3s;
    transform: scale(1);
}

.box:hover{
    filter: grayscale(0%) !important;
    transform: scale(1.05);
}

.sec-2-img-container {
    position: relative;
    top: 0px;
    left: 0px;
    height: fit-content;
    margin-bottom: 20px;
}

.img-container-small {
    width: 100%;
    height: 24vh;
}

.img-container-medium {
    width: 100%;
    height: 26vh;
}

.img-container-large {
    width: 100%;
    height: 30vh;
}

.sec-2-h1 {
    font-size: 1.7vh;
    letter-spacing: 0px;
    text-align: left;
    font-family: "Kumbh Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    position: relative;
    top: 0px;
}

.sec-2-p {
    font-size: 1.3vh;
    letter-spacing: 0px;
    text-align: left;
    font-family: "Kumbh Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    position: relative;
    top: -6px;
    color: grey;
}


#sec-2-pic-container-sub {
    height: 100%;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 10%);
}

#sec-2-pic-container-main-1 {
    width: 30%;
    height: 100%;
    position: absolute;
    left: 0%;
    top: 0%;
}

#img-2 {
    width: 100%;
    height: 100%;
    background-image: url(./2.png);
    background-size: cover;
}

#img-3 {
    width: 100%;
    height: 100%;
    background-image: url(./3.png);
    background-size: cover;
}

#img-4 {
    width: 100%;
    height: 100%;
    background-image: url(./4.png);
    background-size: cover;
}

#sec-2-pic-container-main-2 {
    width: 30%;
    height: 100%;
    position: absolute;
    left: 35%;
    top: 0%;
}

#img-5 {
    width: 100%;
    height: 100%;
    background-image: url(./5.png);
    background-size: cover;
}

#img-6 {
    width: 100%;
    height: 100%;
    background-image: url(./6.png);
    background-size: cover;
}

#img-7 {
    width: 100%;
    height: 100%;
    background-image: url(./7.png);
    background-size: cover;
}

#sec-2-pic-container-main-3 {
    width: 30%;
    height: 100%;
    position: absolute;
    left: 70%;
    top: 0%;
}

#img-8 {
    width: 100%;
    height: 100%;
    background-image: url(./8.png);
    background-size: cover;
}

#img-9 {
    width: 100%;
    height: 100%;
    background-image: url(./9.png);
    background-size: cover;
}

#img-10 {
    width: 100%;
    height: 100%;
    background-image: url(./10.png);
    background-size: cover;
}

#section-3 {
    height: 70vh;
    width: 100%;
    position: relative;
    top: 60%;
    left: 0px;
}

#sec-3-sub {
    height: fit-content;
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#sec-3-about-h1 {
    font-size: 6vh;
    letter-spacing: 0px;
    text-align: center;
    font-family: "Cutive", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0 auto;
}

#section-4 {
    height: 100vh;
    width: 100%;
    position: relative;
    top: 55%;
    left: 0px;
}

#sec-4-sub {
    height: 60%;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#contact-form {
    height: 50vh;
    width: 30vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#form-h1 {
    text-align: center;
    font-size: 4vh;
    font-family: "Cutive", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.input-boxes {
    display: inline-block;
    width: 15.2%;
    height: 8vh;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 5px;
    position: relative;
    left: 3vw;
    background-color: rgb(218, 218, 218);
    text-align: center;
    align-content: center;
    font-size: 3vh;
    color: #898989;
}

#sec-4-submit {
    font-size: 1.2vh;
    text-align: center;
    font-family: "Kumbh Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    width: 90%;
    height: 3vh;
    border-radius: 5px;
    border: none;
    background-color: #204f0a;
    color: #F5F5EF;
    position: relative;
    top: 1.5vh;
    left: 5%;
    cursor: pointer;
}

#skip {
    font-size: 1.2vh;
    text-align: center;
    font-family: "Kumbh Sans", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    width: 90%;
    height: 20px;
    border-radius: 5px;
    border: none;
    color: #204f0a;
    position: relative;
    top: 1.5vh;
    left: 5%;
    cursor: pointer;
}

#tag {
    color:#bababa;
    position: absolute;
    bottom: 2vh;
    left: 3vw;
    font-size: 4vh;
    font-family: "Cutive", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#follow {
    font-size: 2vh;
    font-family: "Kumbh Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: transparent;
    border: 1px rgb(175, 175, 175) solid;
    border-radius: 5px;
    width: auto;
    height: auto;
    padding: 1rem 2rem;
    position: absolute;
    bottom: 4vh;
    right: 3vw;
    cursor: pointer;
}

@media screen and (max-width:600px) {
    main {
        background-color: #f5f5ef;
        width: 100%;
        height: 400vh;
        position: absolute;
        top: 0px;
        left: 0px;
    }
    
    nav {
        background-color: #F5F5EF;
        width: 100%;
        height: 15vh;
        position: fixed;
        z-index: 12;
        top: 0px;
        left: 0px;
        border-bottom: rgb(147, 147, 147) 1px solid;
    }
    
    #nav-logo {
        font-size: 4vh;
        letter-spacing: 0px;
        font-optical-sizing: auto;
        font-weight: 800;
        font-style: extrabold;
        position: absolute;
        top: -5px;
        left: 50%;
        transform: translateX(-50%);
    }
    
    #nav-buttons {
        width: auto;
        height: auto;
        position: absolute;
        left: 25%;
        top: 80%;
        transform: translate(-15%,-50%);
    }
    
    .nav-buts {
        position: relative;
        font-size: 1.5vh;
        border: none;
        background-color: transparent;
        margin-left: 0.5vw;
    }
    
    #section-1 {
        background-color:#f5f5ef;
        height: 100vh;
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
    }
    
    #sec-1-h1 {
        font-size: 8vh;
        letter-spacing: -2px;
        text-align: center;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        position: relative;
        top: 25vh;
        left: 50%;
        transform: translate(-50%);
        z-index: 2;
        color: #fff;
    }
    
    #img-container-sec-1-sub {
        position: absolute;
        left: 0%;
        top: 20%;
        width: 100%;
        height: 70%;
    }
    
    #img-container-main {
        width: 90vw;
        height: 100%;
        border-radius: 12px;
        margin: 0 auto;
        background-image: url(./1.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 10px;
    }
    
    #section-2 {
        height: 330vh;
        width: 100%;
        position: absolute;
        top: 100vh;
        left: 0px;
    }
    
    .sec-2-img-container {
        position: relative;
        top: 0px;
        left: 0px;
        height: fit-content;
        margin-bottom: 20px;
    }
    
    .img-container-small {
        width: 100%;
        height: 24vh;
    }
    
    .img-container-medium {
        width: 100%;
        height: 26vh;
    }
    
    .img-container-large {
        width: 100%;
        height: 30vh;
    }
    
    .sec-2-h1 {
        font-size: 1.7vh;
        letter-spacing: 0px;
        text-align: left;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        position: relative;
        top: 0px;
    }
    
    .sec-2-p {
        font-size: 1.3vh;
        letter-spacing: 0px;
        text-align: left;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        position: relative;
        top: -6px;
        color: grey;
    }
    
    
    #sec-2-pic-container-sub {
        height: 100%;
        width: 80%;
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%, 10%);
    }
    
    #sec-2-pic-container-main-1 {
        width: 90%;
        height: 105vh;
        position: absolute;
        left: 50%;
        top: -10%;
        transform: translateX(-50%);
    }
    
    #img-2 {
        width: 100%;
        height: 100%;
        background-image: url(./2.png);
        background-size: cover;
    }
    
    #img-3 {
        width: 100%;
        height: 100%;
        background-image: url(./3.png);
        background-size: cover;
    }
    
    #img-4 {
        width: 100%;
        height: 100%;
        background-image: url(./4.png);
        background-size: cover;
    }
    
    #sec-2-pic-container-main-2 {
        width: 90%;
        height: 105vh;
        position: absolute;
        left: 50%;
        top: 76vh;
        transform: translateX(-50%);
    }
    
    #img-5 {
        width: 100%;
        height: 100%;
        background-image: url(./5.png);
        background-size: cover;
    }
    
    #img-6 {
        width: 100%;
        height: 100%;
        background-image: url(./6.png);
        background-size: cover;
    }
    
    #img-7 {
        width: 100%;
        height: 100%;
        background-image: url(./7.png);
        background-size: cover;
    }
    
    #sec-2-pic-container-main-3 {
        width: 90%;
        height: 105vh;
        position: absolute;
        left: 50%;
        top: 183vh;
        transform: translateX(-50%);
    }
    
    #img-8 {
        width: 100%;
        height: 100%;
        background-image: url(./8.png);
        background-size: cover;
    }
    
    #img-9 {
        width: 100%;
        height: 100%;
        background-image: url(./9.png);
        background-size: cover;
    }
    
    #img-10 {
        width: 100%;
        height: 100%;
        background-image: url(./10.png);
        background-size: cover;
    }
    
    #section-3 {
        height: 40vh;
        width: 100%;
        position: relative;
        top: 107%;
        left: 0px;
    }
    
    #sec-3-sub {
        height: fit-content;
        width: 90%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    #sec-3-about-h1 {
        font-size: 3vh;
        letter-spacing: 1px;
        text-align: center;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        margin: 0 auto;
    }
    
    #section-4 {
        height: 60vh;
        width: 100%;
        position: relative;
        top: 107%;
        left: 0px;
    }
    
    #sec-4-sub {
        height: 60%;
        width: 90%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    #contact-form {
        height: 50vh;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    #form-h1 {
        text-align: center;
        font-size: 3vh;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }
    
    .input-boxes {
        display: inline-block;
        width: 15.2%;
        height: 8vh;
        border: 1px solid rgb(199, 199, 199);
        border-radius: 5px;
        position: relative;
        left: 7vw;
        background-color: rgb(218, 218, 218);
        text-align: center;
        align-content: center;
        font-size: 3vh;
        color: #898989;
    }
    
    #sec-4-submit {
        font-size: 2vh;
        text-align: center;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        width: 90%;
        height: 4vh;
        border-radius: 5px;
        border: none;
        background-color: #204f0a;
        color: #F5F5EF;
        position: relative;
        top: 1.5vh;
        left: 5%;
    }
    
    #skip {
        font-size: 2vh;
        text-align: center;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        width: 90%;
        height: 4vh;
        border-radius: 5px;
        border: none;
        color: #204f0a;
        position: relative;
        top: 1.5vh;
        left: 5%;
    }
    
    #tag {
        color:#bababa;
        position: absolute;
        bottom: 12vh;
        left: 50%;
        transform: translate(-50%);
        font-size: 3vh;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        width: 90%;
        text-align: center;
    }
    
    #follow {
        font-size: 3vh;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        background-color: transparent;
        border: 1px rgb(175, 175, 175) solid;
        border-radius: 5px;
        width: auto;
        height: auto;
        padding: 0.5rem 1rem;
        position: absolute;
        bottom: 4vh;
        left: 50%;
        transform: translate(-50%);
    }
}
